@import url('https://fonts.googleapis.com/css2?family=Varta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

#header {
	width: 100%;
	height: 570px;
	display: block;
	position: absolute;
	text-align: center;
	background-image: url("res/about_bg.jpg");
	background-size: cover;
}

#header img {
	width: 100%;
}

#header h1 {
	font-family: 'Varta', sans-serif;
	font-size: 90px;
}

#header p {
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	padding-top: -10px;
	padding-left: 10px;
	padding-right: 10px;
}

#header #text {
	padding: 210px 0px;
	color: #FFFFFF;
	opacity: 0;
	animation: mymove 0.8s;
	animation-fill-mode: forwards;
}

@keyframes mymove {
	100% {
		margin-top: -30px;
		opacity: 1;
	}
}

#divide {
	margin-top: 600px;
}

.whole {
	padding: 0 50px;
	justify-content: center;
	margin-bottom: 60px;
	display: flex;
	opacity: 0;
	transition: 0.5s;
}

.whole2 {
	padding: 0 50px;
	justify-content: center;
	margin-bottom: 60px;
	display: flex;
	opacity: 0;
	transition: 0.5s;
}

.box {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 420px;
	border-left: 5px solid #5BD5CB;
	text-align: center;
	background-color: #fcfdff;
}

.box #text, .box2 #text {
	padding: 8vw 20px;
}

.box h1, .box2 h1 {
	color: #5BD5CB;
	font-size: 70px;
}

.box p, .box2 p {
	color: #396562;
	font-size: 30px;
}

.box a, .box2 a {
	color: #396562;
}

.box2 {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 420px;
	border-right: 5px solid #5BD5CB;
	text-align: center;
	background-color: #fcfdff;
}

.ora {
	height: 420px;
	width: 440px;
	object-fit: cover;
}

.idka {
	height: 420px;
	width: 440px;
	object-fit: cover;
	float: left;
}

#part_head {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 90px;
	padding-top: 50px;
	color: #f54269;
}

#sponsor_wrap {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 35px;
	margin: 0px 50px 0px 38px;
	margin-top: 55px;
}

.sponsor_pan {
	align-items: center;
	background-color: #bff7ff;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	object-fit: cover;
	border: 5px solid #c7fffa;
}

@media only screen and (max-width: 464px) {
	#header #text {
		padding: 185px 0px;
	}
}

@media only screen and (max-width: 450px) {
	#header h1 {
		font-size: 20vw;
	}
}

@media only screen and (max-width: 893px) {
	.ora {
		display: none;
	}

	.whole, .whole2 {
		margin-left: 0;
		padding: 0 40px;
	}

	.box, .box2 {
		border: none;
		height: 300px;
		padding: 0;
	}

	.box h1, .box2 h1 {
		font-size: 60px;
	}

	.box p, .box2 p {
		font-size: 25px;
	}

	.box h1:after, .box2 h1:after {
		content: "";
		height: 5px;
		width: 150px;
		display: block;
		margin: 0 auto;
		margin-top: 12px;
		border-bottom: 4px solid #5BD5CB;
	}

	#divide {
		margin-top: 680px;
	}
}
