@import url('https://fonts.googleapis.com/css2?family=Varta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

#header {
	width: 100%;
	height: 570px;
	display: block;
	position: absolute;
	text-align: center;
	background-image: url("res/about_bg.jpg");
	background-size: cover;
}

#header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#header h1 {
	font-family: 'Varta', sans-serif;
	font-size: 60px;
	padding: 0 20px;
}

#header p {
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
}

#header #text {
	padding: 200px 0px;
	color: #FFFFFF;
    opacity: 0;
	animation: mymove 0.8s;
	animation-fill-mode: forwards;
}

@keyframes mymove {
    0% {
        margin-top: 30px;
		opacity: 0;
    }
	100% {
		margin-top: 0px;
		opacity: 1;
	}
}

#divide {
    margin-top: 570px;
}

@media only screen and (max-width: 743px) {
	#header h1 {
		font-size: 8vw;
	}
}
